{% include 'header.html' %}

  <head>
    <title>Simon Nye</title>
  </head>
  <body>
        <div class="container"><figure class="img">
                <img src="static/img/home_cover.jpg" class="figure-img img-fluid rounded top-section" alt="...">
            </figure>
        </div>
        <div class="container py-2">
            <h1 align="middle">Simon Nye: Python Developer</h1>
            <p align="middle">After a lifetime of courting coding, I couldn't be prouder to present my professional portfolio of work.</p>
        </div>

        <div class="container" id="hanging-icons">
    <h2 class="pb-2 border-bottom" align="middle">More about Simon</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="static/img/mind-icon.png" class="icon">
        </div>
        <div>
          <h2>Mind</h2>
          <p>My first taste of coding was teaching myself C++ as a teenager. It appealed to my love of logic and problem-solving, and echoed my early ethos of 'Learn the rules of the system and you can rule the system'. I enjoy problem-solving, puzzles, and innovating solutions.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="static/img/body-icon.png" class="icon">
        </div>
        <div>
          <h2>Body</h2>
          <p>What you put in is what you get out. I keep regularly active and prefer cooking my own meals. I believe one should listen to their body and respond accordingly. "Once a day feel hungry, once a day break a sweat, and once a day feel tired."</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="static/img/spirit-icon.png" class="icon">
        </div>
        <div>
          <h2>Spirit</h2>
          <p>Raised Anglican in the Christian faith, I explored the eastern practices and resonated with concepts from a range of sources. I would say I practice an amalgamation of buddism, witchcraft and agnosticism.</p>
        </div>
      </div>
    </div>
  </div>
{% include 'footer.html' %}