{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}

<head>
        <title>{{ piece.title }}</title>
</head>
<body>
<div class="container">
    <figure class="img">
        <img style="width:100%; height:200px; object-fit:cover" src="{{ piece.img }}" class="figure-img img-fluid rounded top-section" alt="...">
    </figure>
    <div class="container">
        <h1> {{ piece.title }}</h1>
        <h3> {{ piece.elements }}</h3>
        <p> {{ piece.description }}</p>
    </div>
    <!-- Comments Area -->
    <div class="container">
        {{ ckeditor.load() }}
        <!-- Configure it with the name of the form field from CommentForm -->
        {{ ckeditor.config(name='text') }}
        <!-- Create the wtf quick form from CommentForm -->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <div class="comment">
          <ul class="commentList">
            <!-- Show all comments -->
            {% for comment in piece.comments: %}
            <li>
              <div class="commenterImage">
                <img
                  src="{{ avatars.gravatar(comment.comment_author.email) }}"
                />
              </div>
                <div class="commentText">
                {{comment.text|safe}}
                <span class="sub-text">{{comment.comment_author.name}}</span>
              </div>
            </li>
            {% endfor %}
          </ul>

        </div>
    </div>
</div>
</body>

{% include "footer.html" %}