{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}

<head>
    <title>Register</title>
</head>
<main>
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
            <p class="flash">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div>
                {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>

</main>

{% include "footer.html" %}